.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sidebar {
    width: 18%;
    height: calc(99vh - 70px);
    position: fixed;
    overflow: auto;
    background-color: white;
    position: fixed;
    top: 68px;
    left: 10px;
    z-index: 100;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
}

.main-content {
    position: fixed;
    overflow: auto;
    height: calc(99vh - 70px);
    border-radius: 10px;
    width: 79%;
    top: 68px;
    left: 20%;
    background-color: white;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.1);
}

.selectedSidebar {
    background-color: #c5c5c5;
    color: #474747;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.singleLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cardBody {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.needBottomBorder {
    border-bottom: 1px dashed #d4d4d4;
}

.MuiTab-fullWidth {
    padding: 0;
    min-width: auto !important;
}

.editArea {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 20px;
}

.editPart {
    width: 70%;
    padding: 0 10px 0 5px;
}

.editMenu {
    width: 30%;
    padding: 0 5px 0 10px;
    top: 0px;
    position: sticky;
    height: calc(100vh - 60px);
    overflow-y: auto;
    /* background-color: #f7efef; */
    /* border-radius: 10px; */
    /* box-shadow: -1px 0 2px rgba(0, 0, 0, 0.1); */
}
.docInfoBlock {
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    align-items: center;
    overflow-y: auto;
}
.docInfoTitle {
    margin-right: 10px;
    color: rgb(144, 137, 137);
    width: 75px;
}
.alert-information {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    animation: fade-out 3s ease-in-out;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
