.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-xxl {
    margin-top: 68px;
    height: calc(99vh - 68px);
}

.sidebar {
    width: 18%;
    height: 100%;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.main-content {
    overflow: auto;
    height: 100%;
    border-radius: 10px;
    width: 82%;
    background-color: white;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.1);
}

.selectedSidebar {
    background-color: #c5c5c5;
    color: #474747;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.singleLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cardBody {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.needBottomBorder {
    border-bottom: 1px dashed #d4d4d4;
}

.MuiTab-fullWidth {
    padding: 0;
    min-width: auto !important;
}

.editArea {
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 20px;
    padding-left: 10px;
}

.editPart {
    width: 70%;
    padding: 0 10px 0 5px;
}

.editMenu {
    width: 30%;
    padding: 0 5px 0 10px;
    top: 0px;
    position: sticky;
    height: calc(100vh - 60px);
    overflow-y: auto;
    /* background-color: #f7efef; */
    /* border-radius: 10px; */
    /* box-shadow: -1px 0 2px rgba(0, 0, 0, 0.1); */
}
.docInfoBlock {
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    align-items: center;
    overflow-y: auto;
}
.infoBlock {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    align-items: center;
    overflow-y: auto;
}
.docInfoTitle {
    margin-right: 10px;
    color: rgb(144, 137, 137);
    width: 75px;
}
.infoTitle {
    margin-right: 10px;
    color: rgb(144, 137, 137);
    width: 68px;
    font-weight: bold;
}
.alert-information {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    animation: fade-out 4s ease-in-out;
}
.sidebarTitle {
    cursor: pointer;
    display: flex;
    padding: 2px;
    padding-left: 3px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    /* font-size: 1rem; */
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    text-decoration: none;
    color: #474747;
}
.sidebarTitle:hover {
    background-color: #ecf1fe;
    color: #1976d2;
    font-weight: 700;
}
.sidebarActive {
    background-color: #ecf1fe;
    color: #1976d2;
    font-weight: 700;
}

.projectIsActive {
    background-color: #1976d2 !important;
    color: #ffffff !important;
    font-weight: 700;
    border: #1976d2 2px solid !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.project {
    background-color: #f3f1f1 !important;
    color: #7c7d7e !important;
    font-weight: 700;

}
.project:hover {
    background-color: #ecf1fe !important;
    color:  #1976d2 !important;
    font-weight: 700;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);

    border: #1976d2 1px solid !important;

}
.tag {
    /* background-color: #f3f1f1 !important; */
    /* color: #7c7d7e !important; */
    opacity: 0.3 !important;
    font-weight: 700;


}
.tagIsActive {
    
    font-weight: 700;
    
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.react-activity-calendar {
    margin: auto;
}

.ProseMirror:focus {
    box-shadow: #b9d5f1 0px 0px 0px 0.2em !important;
}

.ProseMirror {
    border: 0.1px solid #b9d5f1 !important;
    box-shadow: rgb(183 218 229 / 25%) 0px 0px 0px 0.1em !important;
}
