.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.sidebar {
    width: 18%;
    /* background-color: #e9ecf3; */
    /* color: white; */
    height: 100vh;
    position: fixed;
    overflow: auto;
    border-right: 1px solid #e7ebf0;
}

.content {
    width: 82%;
    /* let content padding on the sidebar */
    margin-left: 18%;
    padding: 20px;
}

.selectedSidebar {
    background-color: #c5c5c5;
    color: #474747;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.singleLine {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cardBody {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.needBottomBorder {
    border-bottom: 1px dashed #d4d4d4;
}
